*{
    color: darkred;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

main{
width: 50%;
background-color: wheat;
display: block;
margin: -0.5rem auto;
height: 100vh;
border: 0.5rem solid black;
border-style: double;
padding: 0.5rem;
position: relative;
}

img{
  display: block;
}

#image{
  max-width:100%;
  height:auto;
  margin:0 auto;
}

.black{
    color:black;
}

figcaption{
  text-align:center;
}

h1{
    text-align: center;
    margin-bottom: 10vh;
    color:black;
}

p{
    text-align: center;
    margin: 5vh auto;
}

.bold{
    font-weight: 1000;
}

.upper{
    text-transform: uppercase;
}

.large{
    font-size: 3rem;
}

.medium{
    font-size: 1.5rem;
}

#certified{
    max-width:100%;
    position:absolute;
    bottom: 0;
    right: 0;
}